html{
    font-size:62.5%;
}
body h1{
    font-family: var(--font-family-roboto);
    font-size: var(--h1-font-size);
    font-weight: var(--mediu-weight);
}
body h2{
    font-family: var(--font-family-roboto);
    font-size: var(--h2-font-size);
    font-weight: var(--mediu-weight);
}
main h2{
    font-family: var(--font-family-roboto);
    font-size: var(--h2-font-size);
    font-weight: var(--big-weight);
    color: var(--color-primary);
}
body p{
    font-family: var(--font-family-roboto);
    font-size: var(--body-font-size);
}
.grid-container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include mq(large){
        max-width: 85%;

    }
}
.grid-container.fluid{
    padding: 0;
}
.marginY{
    margin: 5rem auto;
}
.paddingY{
    padding: 4.5rem;
    @include mq(large){
        padding: 6rem;
    }
}
.padding-vertical-3{
    padding: 3rem 0;
}
body{
    box-sizing: border-box;
}