@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital@1&family=Roboto+Slab:wght@300;700&display=swap");
:root {
  --font-family-noto:'Noto Sans', sans-serif;
  --font-family-roboto:'Roboto Slab', serif; }

:root {
  --h2-font-size:2.5rem;
  --h1-font-size:1.5rem;
  --body-font-size:1.8rem;
  --footer-font-size:2rem; }
  @media screen and (min-width: 640px) {
    :root {
      --h2-font-size:4rem;
      --h1-font-size:1.8rem;
      --body-font-size:2rem;
      --footer-font-size:2.5rem; } }

:root {
  --mediu-weight: 300;
  --big-weight:700; }

:root {
  --color-primary: rgb(0,6,108);
  --color-primary-light: rgb(0, 162, 255);
  --color-black-primary:#1D2229;
  --color-black: #191C20;
  --color-white: white; }

:root {
  --width-carousel: 18.6rem; }
  @media screen and (min-width: 640px) {
    :root {
      --width-carousel: 24.7rem; } }

html {
  font-size: 62.5%; }

body h1 {
  font-family: var(--font-family-roboto);
  font-size: var(--h1-font-size);
  font-weight: var(--mediu-weight); }

body h2 {
  font-family: var(--font-family-roboto);
  font-size: var(--h2-font-size);
  font-weight: var(--mediu-weight); }

main h2 {
  font-family: var(--font-family-roboto);
  font-size: var(--h2-font-size);
  font-weight: var(--big-weight);
  color: var(--color-primary); }

body p {
  font-family: var(--font-family-roboto);
  font-size: var(--body-font-size); }

.grid-container {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }
  @media screen and (min-width: 1024px) {
    .grid-container {
      max-width: 85%; } }

.grid-container.fluid {
  padding: 0; }

.marginY {
  margin: 5rem auto; }

.paddingY {
  padding: 4.5rem; }
  @media screen and (min-width: 1024px) {
    .paddingY {
      padding: 6rem; } }

.padding-vertical-3 {
  padding: 3rem 0; }

body {
  box-sizing: border-box; }

.banner__box {
  display: flex;
  align-items: center;
  justify-content: center; }

.banner-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 18%; }

.banner__content {
  position: absolute;
  text-align: center;
  color: white; }
  @media screen and (min-width: 640px) {
    .banner__content {
      text-align: left; } }

.block__icon {
  text-align: center;
  padding: 6.5rem 0;
  border-radius: 2rem;
  background-color: var(--color-primary-light);
  font-weight: bold; }

.box__carousel {
  display: flex;
  align-items: center;
  height: 20rem;
  overflow: hidden; }

.container__carousel {
  position: relative;
  height: 15rem;
  right: 0;
  display: flex;
  align-items: center;
  background-color: rgba(255, 249, 249, 0.836); }

.carousel-card {
  min-width: var(--width-carousel);
  max-height: 100px;
  padding: 2rem;
  margin: 1.5rem 0 3rem;
  position: relative;
  transition: ease-in .5s; }
  .carousel-card:hover {
    border-radius: .5rem;
    box-shadow: 11px 10px 28px rgba(0, 0, 0, 0.555); }
    .carousel-card:hover .img-1 {
      display: block; }
    .carousel-card:hover .img-0 {
      display: none; }

.img-0 {
  display: block; }

.img-1 {
  display: none; }

footer {
  background-color: var(--color-black-primary);
  color: var(--color-white);
  padding-top: 4.5rem; }

footer h2 {
  font-size: var(--footer-font-size); }

.footer__secont {
  background-color: var(--color-black); }
  .footer__secont p {
    margin-bottom: 0; }

.footer__box-icon {
  background-color: red;
  min-width: 4rem;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.icon-socialMedia {
  position: absolute;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 2rem; }
