.block__icon{
    text-align: center;
    padding: 6.5rem 0;
    // border: 1px solid red;
    border-radius: 2rem;
    // position: relative;
    background-color: var(--color-primary-light);
    font-weight: bold;
}